.headerInicio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 25px;
  box-sizing: border-box;
  align-items: center;
}

ul.navbar {
  list-style: none;
  display: flex;
}

ul.navbar li {
  margin-right: 25px;
}

.App {
  text-align: center;
}

.imgHeader {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 70px;
  margin-right: 25px;
}

.marca {
  display: flex;
  align-items: center;
}

.nombreMarca {
  font-size:larger;
  font-style: italic;
  font-weight: 500;
}